// $hot-pink: #FF4ED6;

h1 small {
  line-height: 1.4;
  display: block;
  margin: 20px 0;
  font-size: 50%;
}

.ingredients {
  padding: 0;

  li {
    color: rgb(119, 119, 119);
    list-style-type: none;
    margin: 5px 0;
  }

  @media(max-width: 991px) {
    margin-left: 0;
    margin-bottom: 20px;

    li {
      display: inline-block;
      margin: 0;

      &:after {
        content: "⋅";
        display: inline-block;
        margin-left: 5px;
      }
    }
  }
}

.step {
  border-top: 1px solid transparent;
  margin-bottom: 20px;
  transition: all 0.5s ease;

  &.current {
    border-top-color: #000;
    font-size: 150%;

    // only highlight timers when in current step
    .timer {
      background-color: yellow;
    }
  }
}
  }
}
